doctype html
html(class="no-js", lang="en")
    include head
    body
        div(class="all-content")
            div.row
                div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns")
                    h1(class="text-center main-headline") Right.
            div.row
                div(class="small-12 small-centered medium-10 medium-centerd large-8 large-centered columns")

                  p I hope one day you'll join us. But in the meantime - let the world know that you are not up for hugs. Avoid the awkwardness and enjoy the peace of not being touched.
                  p.text-center Ever.

                  div.row
                    div(class="action-panel small-12 medium-6 columns")
                      a(class="button button-black small-12" href="http://www.facebook.com/sharer.php?u=http://areyouahugger.com/share-no.html")
                        span Let the World know

                    div(class="action-panel small-12 medium-6 columns")
                      a(class="button button-black small-12" href="http://teespring.com/noiamnotahugger")
                        span Get your Unhugger tee
                    
                  a(class="tee-image-link text-center" href="http://teespring.com/noiamnotahugger")
                      img(class="tee-image" src="/images/jpg/noiamnotahugger_tee_front.jpg")

                  p.top-space.text-center
                      small Feel good: 50% of profits from Unhugger tees sales go to&nbsp;
                          a(href="http://charitywater.org" target="_blank") Charity:Water.

        div(class="footer-container")
            include footer_details

        include scripts
