doctype html
html(class="no-js", lang="en")
head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="utf-8")
    meta(property="og:type"   content="website")
    meta(property="og:title"  content="Yes, I am a Hugger")
    meta(property="og:description" content="When I say hello and good-bye to people I don't mind a little hug. What about you?")
    meta(property="og:image" content="https://georgestrakhov.github.io/areyouahugger/images/png/yesiamahugger_card_wide.png")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="js/redirectHome.js")
    title Yes I am a Hugger!
    // build:css css/libraries.min.css
    
    link(rel="stylesheet", href="bower_components/font-awesome/css/font-awesome.css")
    // bower:css
    // endbower
    // endbuild
    // build:css css/app.min.css
    link(rel="stylesheet", href="css/app.css")
    link(rel="stylesheet", href="css/app_override.css")
    // endbuild
    body
        div(class="all-content")
            div.row
                div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns")
                    h1(class="text-center main-headline") Yes, I am a Hugger!

                    img(class="big-share-image" src="images/png/yesiamahugger_card.png")

                    h3.text-center Are you a Hugger too? If yes - feel free to give me a little hug when you see me next time.

        div(class="footer-container")
            include footer_details
    
