doctype html
html(class="no-js", lang="en")
    include head
    body
        div(class="all-content")
            div.row
                div(class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns")
                    h1(class="text-center main-headline") Hooray!
            div.row
                div(class="small-12 small-centered medium-10 medium-centerd large-8 large-centered columns")

                  p You are a hugger as well! Seriously, if you were here we would hug you right now. <br />It's time to let the world know that you don't mind a little hug every now and then.
                  p.text-center Or a big one.

                  div.row
                    div(class="action-panel small-12 medium-6 columns")
                      a(class="button button-black small-12" href="http://www.facebook.com/sharer.php?u=http://areyouahugger.com/share-yes.html")
                        span Let the World know

                    div(class="action-panel small-12 medium-6 columns")
                      a(class="button button-black small-12" href="http://teespring.com/yesiamahugger")
                        span Get a Hugger tee
                    
                  a(class="tee-image-link text-center" href="http://teespring.com/yesiamahugger")
                      img(class="tee-image" src="images/jpg/yesiamahugger_tee_front.jpg")

                  p.top-space.text-center
                      small Feel good: 50% of profits from Hugger tees sales go to&nbsp;
                          a(href="http://charitywater.org" target="_blank") Charity:Water.

        div(class="footer-container")
            include footer_details

        include scripts
